/*timer*/
.topText, .bottomText{text-align:center; font-size:90%; color:#ffffff; border-top:0px solid #999999; background-color:#333333; }
.topText .x-innerhtml, .bottomText .x-innerhtml{display: table-cell;vertical-align: middle;height:35px; width:10000px}
.timerRoot{display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-align:center;-webkit-box-pack:center;line-height:1.25 !important;}
.timer{position:relative;width:320px;height:237px;background:url(img/timer/timerBg.png) center;background-size:320px auto;border:0px solid #ff0000;margin:10px 0px;}
.timer.timerOnly{width:208px;height:237px;background:url(img/timer/timer.png) center;background-size:208px auto;}
.timer .timer-circle {position:absolute;width:170px;height:170px;clip:rect(0px,170px,170px,85px);top:35px;left:19px;}
.timer .time-text{position:absolute;top:70px;left:17px;text-align:center;width:180px;}
.timer .big{font-size:66px; font-family:Helvetica; height:66px; display:inline-block; color:#343432;}
.timer .medium{font-size:33px; font-family:Helvetica; height:33px; display:inline-block; color:#343432;}
.timer .timer-pie{position:absolute;-webkit-mask-image:url(img/timer/timerMask.png);-webkit-mask-origin:border-box; background-origin:border-box; border:0px;background-clip:border-box;}
.timer .timer-circle.timer-pie180{clip:rect(auto, auto, auto, auto) !important;}
.timer .timer-pie.timer-fill{-webkit-transform:rotate(180deg) !important;display:none;}
.timer .timer-pie180 .timer-fill{display:inline !important;}
.timer .timer-pie{background-color:#7EBFFF;border-color:transparent !important;width:170px;height:170px;clip:rect(0px,85px,170px,0px);-webkit-mask-size:170px 170px;-webkit-border-radius:85px;}	
.timer .marker{position:absolute;top:0px;left:103px;width:1px;height:240px;}
.timer .markerImage{background:url(img/timer/marker2x.png) top center no-repeat;background-size:42px 56px;margin-left:-21px;width:42px;height:56px;border:0px solid #ff0000;}
.timer .timer-count-text{position:absolute;top:76px;left:208px;text-align:center;}